# Path to which SSL certificate is mounted in HAProxy container
# defaults to '/etc/ssl/private/tls.pem' in docker-compose.yaml
#export SSL_CERT_PATH='/etc/ssl/private/tls.pem'

# URL for Grafana vHost in HAProxy
#export GRAFANA_VHOST='grafana.example.com'

# LDAP Settings
#export LDAP_SRV1='dc1.example.com'
#export LDAP_SRV2='dc2.example.com'

#export LDAP_PORT='389'
#export LDAP_BIND_DN='cn=bind_user,cn=Users,dc=example,dc=com'

# Don't use this! Export this yourself!
#export LDAP_BIND_PASSWD='PaSsW0rD!'

#export LDAP_BASE_DN='dc=example,dc=com'

# Users in this group will be admins
#export LDAP_ADMIN_DN='cn=sysadmins,ou=operations_division,dc=example,dc=com'
